<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <nav class="nav">
    <img src="src/../assets/images/logo-bookmark.svg" alt="logo landing page">
    <img class="nav__ham" src="src/../assets/images/icon-hamburger.svg" alt="icon-hamburger" (click)="menu = !menu; scroll();">
    <ul class="nav__ul">
      <li class="nav__li">features</li>
      <li class="nav__li">pricing</li>
      <li class="nav__li">contact</li>
      <li class="nav__li btn btn--rojo">login</li>
    </ul>
  </nav>
  <!-- menu oculto mobile -->
  <div class="menu" [ngClass]="menu ? 'menu--activo' : '' ">
    <div class="menu__top">
      <img src="src/../assets/images/logo-bookmark-white.png" alt="image logo">
      <img src="src/../assets/images/icon-close.svg" alt="icon close" (click)="menu = !menu; quitarScroll();">
    </div>
    <ul class="menu__ul">
      <li class="menu__li">features</li>
      <li class="menu__li">pricing</li>
      <li class="menu__li">contact</li>
      <li class="menu__li">login</li>
    </ul>
    <div class="menu__redes">
      <img src="src/../assets/images/icon-facebook.svg" alt="icon facebook">
      <img src="src/../assets/images/icon-twitter.svg" alt="icon twitter">
    </div>
  </div>
  <section class="header">
    <div class="hero">
      <figure class="hero__bg">
        <img class="hero__img" src="src/../assets/images/illustration-hero.svg" alt="hero img">
      </figure>
    </div>
    <div class="header__info">
      <h1 class="header__h1">a simple bookmark <span class="header__span">manager</span></h1>
      <p class="header__p">
        A clean and simple interface to organize your favourite websites. Open a new 
        browser tab and see your sites load instantly. Try it for free.
      </p>
      <div class="header__botones">
        <button class="btn">Get it on Chrome</button>
        <button class="btn btn--white">Get it on Firefox</button>
      </div>
    </div>
  </section>
  <section class="features">
    <h2 class="features__h2">Features</h2>
    <p class="features__p">
      Our aim is to make it quick and easy for you to access your favourite websites. 
      Your bookmarks sync between your devices so you can access them on the go.
    </p>
  </section>
  <section>
    <div class="tabs">
      <button class="tabs__btn" [ngClass]="tab1 ? 'tabs__btn--activo' : '' " (click)="tab(1)">simple bookmarking</button>
      <button class="tabs__btn" [ngClass]="tab2 ? 'tabs__btn--activo' : '' " (click)="tab(2)">speedy searching</button>
      <button class="tabs__btn" [ngClass]="tab3 ? 'tabs__btn--activo' : '' " (click)="tab(3)">easy sharing</button>
    </div>
    <!-- content tab 1 -->
    <div class="tab" *ngIf="tab1">
      <figure class="tab__figure">
        <img class="tab__img" src="src/../assets/images/illustration-features-tab-1.svg" alt="tab1 image">
      </figure>
      <div>
        <h2 class="tab__h2">Bookmark in one click</h2>
        <p class="tab__p">
          Organize your bookmarks however you like. Our simple drag-and-drop interface 
          gives you complete control over how you manage your favourite sites.
        </p>
        <button class="btn btn--media">More Info</button>
      </div>
    </div>
    <!-- content tab 2 -->
    <div class="tab" *ngIf="tab2">
      <figure class="tab__figure">
        <img class="tab__img" src="src/../assets/images/illustration-features-tab-2.svg" alt="tab2 image">
      </figure>
      <div>
        <h2 class="tab__h2">Intelligent search</h2>
        <p class="tab__p">
          Our powerful search feature will help you find saved sites in no time at all. 
          No need to trawl through all of your bookmarks.
        </p>
        <button class="btn">More Info</button>
      </div>
    </div>
    <!-- content tab 3 -->
    <div class="tab" *ngIf="tab3">
      <figure class="tab__figure">
        <img class="tab__img" src="src/../assets/images/illustration-features-tab-3.svg" alt="tab3 image">
      </figure>
      <div>
        <h2 class="tab__h2">Share your bookmarks</h2>
        <p class="tab__p">
          Easily share your bookmarks and collections with others. Create a shareable 
          link that you can send at the click of a button.
        </p>
        <button class="btn">More Info</button>
      </div>
    </div>
  </section>
  <section>
    <div class="info">
      <h2 class="info__h2">Download the extension</h2>
      <p class="info__p">
        We’ve got more browsers in the pipeline. Please do let us know if you’ve 
        got a favourite you’d like us to prioritize.
      </p>
    </div>
    <div class="extensiones">
      <!-- Card Chrome -->
      <div class="extensiones__card card">
        <img class="card__img" src="src/../assets/images/logo-chrome.svg" alt="image Chrome">
        <h3 class="card__h3">Add to Chrome</h3>
        <p class="card__p">Minimum version 62</p>
        <img class="card__bg" src="src/../assets/images/bg-dots.svg" alt="bg-dots image">
        <button class="btn btn--center">Add & Install Extension</button>
      </div>
      <!-- Card Firefox -->
      <div class="extensiones__card card" style="margin: 2rem 0 -2rem 0">
        <img class="card__img" src="src/../assets/images/logo-firefox.svg" alt="image firefox">
        <h3 class="card__h3">Add to Firefox</h3>
        <p class="card__p">Minimum version 55</p>
        <img class="card__bg" src="src/../assets/images/bg-dots.svg" alt="bg-dots image">
        <button class="btn btn--center">Add & Install Extension</button>
      </div>
      <!-- Card Opera -->
      <div class="extensiones__card card" style="margin: 4rem 0 -4rem 0">
        <img class="card__img" src="src/../assets/images/logo-opera.svg" alt="image opera">
        <h3 class="card__h3">Add to Opera</h3>
        <p class="card__p">Minimum version 46</p>
        <img class="card__bg" src="src/../assets/images/bg-dots.svg" alt="bg-dots image">
        <button class="btn btn--center">Add & Install Extension</button>
      </div>
    </div>
  </section>
  <section class="mt-5 contenedor">
    <div class="info">
      <h2 class="info__h2">Frequently Asked Questions</h2>
      <p class="info__p">
        Here are some of our FAQs. If you have any other questions you’d like 
        answered please feel free to email us.
      </p>
    </div>
    <div class="preguntas">
      <ul class="pregunta">
        <li class="pregunta__li" (click)="show1 = !show1">What is Bookmark? <img class="pregunta__img" [ngClass]="show1 ? 'pregunta__img--activo' : '' " src="src/../assets/images/icon-arrow.svg" alt="icon arrow"></li>
        <li class="respuesta__li" [ngClass]="show1 ? 'respuesta__li--activo' : '' ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
          justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
        </li>
      </ul>
      <ul class="pregunta">
        <li class="pregunta__li" (click)="show2 = !show2">How can I request a new browser? <img class="pregunta__img" [ngClass]="show2 ? 'pregunta__img--activo' : '' " src="src/../assets/images/icon-arrow.svg" alt="icon arrow"></li>
        <li class="respuesta__li" [ngClass]="show2 ? 'respuesta__li--activo' : '' ">
          Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. 
          Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, 
          ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. 
          Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        </li>
      </ul>
      <ul class="pregunta">
        <li class="pregunta__li" (click)="show3 = !show3">Is there a mobile app? <img class="pregunta__img" [ngClass]="show3 ? 'pregunta__img--activo' : '' " src="src/../assets/images/icon-arrow.svg" alt="icon arrow"></li>
        <li class="respuesta__li"  [ngClass]="show3 ? 'respuesta__li--activo' : '' ">
          Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum 
          urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed 
          sollicitudin ex et ultricies bibendum.
        </li>
      </ul>
      <ul class="pregunta">
        <li class="pregunta__li" (click)="show4 = !show4">What about other Chromium browsers? <img class="pregunta__img" [ngClass]="show4 ? 'pregunta__img--activo' : '' " src="src/../assets/images/icon-arrow.svg" alt="icon arrow"></li>
        <li class="respuesta__li" [ngClass]="show4 ? 'respuesta__li--activo' : '' ">
          Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam 
          vitae neque eget nisl gravida pellentesque non ut velit.
        </li>
      </ul>
    </div>
    <button class="btn btn--center">More Info</button>
  </section>
  <section class="mt-5">
    <div class="contact">
      <span class="contact__span">35,000+ already joined</span>
      <p class="contact__p">Stay up-to-date with what we’re doing</p>
      <div class="contact__form" [ngClass]="!vacio ? '' : 'contact__form--error' ">
        <input class="contact__input" type="text" placeholder="Enter your email address" [(ngModel)]="correo" (change)="validarCorreo()">
        <button class="btn btn--rojo">Contact Us</button>
      </div>
     
    </div>
  </section>
  <footer class="footer">
    <img class="footer__img" src="src/../assets/images/logo-bookmark-white.png" alt="logo image">
    <ul class="footer__ul">
      <li class="footer__li">features</li>
      <li class="footer__li">pricing</li>
      <li class="footer__li">contact</li>
    </ul>
    <div class="footer__redes">
      <img src="src/../assets/images/icon-facebook.svg" alt="icon facebook">
      <img src="src/../assets/images/icon-twitter.svg" alt="icon twitter">
    </div>
  </footer>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
